<!doctype html>
<html><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Bootstrap Chat</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/17b0223918.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/newcss/main.css">

</head>
<body>
  <div class="container py-2 px-4 app">
  <div class="row rounded-lg overflow-hidden shadow app-one">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="side-one">
        <div class="bg-white">

          <div class="bg-gray px-4 py-2 chatbox-header" >
            <div class="chatbox-header-inner mb-1">
              <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
              <div class="sideheaderright">
                <i class="fas fa-plus-square fa-lg" id="newchat"></i>
              </div>
            </div>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="chatsearch">
            </div>
          </div>

          <div class="messages-box">
            <div class="list-group rounded-0" id="users"></div>
          </div>
        </div>
        <div class="online-status" id="online-status"><span class="user-status offline-user"></span><p>Offline</p></div>
      </div>
      <div class="side-two" style="left: -100%;">
        <div class="bg-white">

          <div class="bg-gray px-4 py-2 chatbox-header" id="returnchat">
            <p class="h5 mb-0 py-1">Click Me</p>
            <p>Close Chat</p>
          </div>

          <div class="messages-box">
            <div class="list-group rounded-0" id="allusers"></div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">
      <div class="bg-white">
        <div class="bg-gray px-4 py-2 chatbox-header row">
          <div class="userbox col-sm-2">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
          </div>
          <div class="col-sm">
            <p class="h5 mb-0 py-1" id="recipient">Message: </p>
            <p id="user-status" class="text-small"></p>
          </div>

        </div>
        <div class="px-4 py-5 chat-box bg-light" id="chat"></div>
      </div>

      <!-- Typing area -->
      <form action="#" class="bg-white" id="messageForm">
        <div class="input-group">
          <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-white" message>
          <div class="input-group-append">
            <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="js/chat.js"></script>
<script type="module" src="socket/socket_new.js"></script>
  <script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent){
      window.parent.parent.postMessage(["resultsFrame", {
        height: document.body.getBoundingClientRect().height,
        slug: "0z71hmax"
      }], "*")
    }

    // always overwrite window.name, in case users try to set it manually
    window.name = "result"
  </script>



</body></html>